
@{
    ViewBag.Title = "ApplyElection";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="Index">Home</a></li>
    <li><a href="ViewElection">Elections</a></li>
    <li><a href="ApplyElection">Apply Elections</a></li>
</ul>
<h2>Applied Successfully!!</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="text-center">Confirm Apply </h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<center>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm" class="btn btn-primary" />
        </div>

    </div>
</center>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}