@model LoginandRegisterMVC.Models.Candidate

@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="../Index">Home</a></li>
    <li><a href="../ViewElection">Elections</a></li>
    
    <li><a href="#">Vote</a></li>
</ul>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="text-center">Confirm Vote </h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <center>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Eligible == true)
            {
                if (ViewBag.valid == true)
                {<input type="submit" value="Confirm" class="btn btn-primary" />}
                else
                {
                    <button class="btn btn-danger disabled" disabled>Voted</button>
                }
            }
            else
                {
                    <button class="btn btn-danger disabled" disabled>Not Eligible</button>
                }


        </div>
    </div>
    </center>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}